@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background-image: url("imgs/pink-soup.jpeg");
    background-size: cover;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.food-card {
    margin: auto;
    padding: 7px;
    border: 5px solid #B8F2E6;
    border-radius: 5px;
    background-color: #E5D9F2;
}

.food-card-details {
    display: flex;
    justify-content: center;
}

.main-heading {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    color: #DB5ABA;

}

h2 {
    font-style: italic;
}

p {
    border: 3px solid #B8F2E6;
    border-radius: 50px;
}

.star-rating {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color:  #E3C0D3;
}

.star-rating-details {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color:  #E3C0D3;
}

nav {
    border: 5px dotted #B8F2E6;
    padding: 16px;
    background-color: #E3C0D3;
}

img  {
    height: 200px;
}

a:visited {
    color: #A4243B;
}

tbody tr:nth-child(even) {
    background-color: lightpink;
}

tbody tr:nth-child(odd) {
    background-color: #E3C0D3;
}

.table-container {
    display: flex;
    justify-content: center;
}

.list-container {
    display: flex;
    justify-content: center;
    background-color: #E3C0D3;
    width: fit-content;
    margin: auto;

}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;

}

footer {
    padding: 24px 0 24 0;
    background-color: #E3C0D3;
    border: 5px dotted #B8F2E6;
}
